<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @badge.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
