
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">pages</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li><a href="/products">Buy</a></li>
          <li><a href="/pages/selldash">Sell</a></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><a href="/conversations">Inbox</a></li>
          <li><a href="/contact">Contact Us</a></li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li><a href="/products">Buy</a></li>
          <li><a href="/pages/selldash">Sell</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="/conversations">Inbox</a></li>
          <li><a href="/contact">Contact Us</a></li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
