<div class= "container profile-wrapper">
  <div class= "card top-profile-wrapper">
    <div class= "row">
      <div class= "col s4">
        <img src="<%= @user.avatar.url %>" alt="" class="circle responsive-img">
      </div>
      <div class= "col s4">
        <p class= "bigger-text profile-text-margin"><%= @user.first_name %></p>
        <p class= "profile-text-margin"><%= @user.username %></p>
        <p class= "smaller-text">Joined <%= @user.created_at %></p>
      </div>
      <div class= "col s4">
        <% if correct_user?(@user) %>
          <%= link_to 'Edit', edit_user_registration_path, class:'waves-effect waves-light btn profile-msg' %>
        <% else %>
        <%= link_to 'Msg', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'waves-effect waves-light btn profile-msg'%>
        <% end %>
      </div>
    </div>
    <div class= "row">
      <div class= "col s4">
      </div>
      <div class= "col s8 badges-display">
        <%@badges.each do |badge| %>
        <img src="<%= asset_path 'fb2.png' %>" alt="" title="<%= badge.name %>">
        <img src="<%= asset_path 'download.png' %>" alt="" title="Green Thumb">
        <% end %>
      </div>
    </div>
  </div>


  <div class= "card review-profile-wrapper">
    <div class= "row">
      <div class= "col s12">
        <div class= "rating-wrapper">
          <p class= "bigger-text"> User Ratings</p>
          Selling <%= rating_for @user, 'selling', star: 5, disable_after_rate: true, enable_half: true, half_show: true%>
          Buying <%= rating_for @user, 'buying', star: 5, disable_after_rate: true, enable_half: true, half_show: true %>
        </div>
      </div>
    </div>

    <%@reviews.each do |review| %>
      <div class="card">
        <div class= "row">
          <div class= "col s4">
            <p class= "rating-wrapper"><%= link_to review.user.username, review.user %></p>
          </div>
          <div class= "col s8">
              <p class="bold">"<%= review.body %>"</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if correct_user?(@user) %>
    <% else %>
      <%= link_to 'Review', new_review_path, class: 'waves-effect waves-light btn' %>
    <% end %>
    <br>
  </div>
</div>

<div class= "container">
  <p class= "bigger-text"><%=@user.first_name%>'s Hampers</p>
  <hr>
  <div class= "flex-container">
    <% @user.products.each do |product| %>
      <% if product.purchased == false%>
        <!-- <div class="row"> -->
          <div class="col s12 m7 small-padding">
            <div class="card card-width">
              <div class="card-image">
                <img class= "resize-img" src="<%= product.images[0].url %>">
              </div>
              <div class="card-content">
                <p><strong><%= product.title %></%></strong></p>
                <p><%= product.contents %></p>
              </div>
              <div class="card-action">
                <p><%= link_to 'View', product %></p>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Refers to method in users_helper. Only makes link appear for current_user -->
<!-- <% if correct_user?(@user) %>
  <h3>Hampers you've requested</h3>
  <% @requests.each do |request| %>
    <%= request.product.title %> |
    <%= request.product.user.username %> |
    <%= request.message %>
    <br>
  <% end %>
<% end %> -->
