<h1>Profile</h1>
<h3>User Info</h3>
<p><%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.about %></p>
<p><%= @user.interests %></p>
<p><%= @user.age %></p>
<p><%= @user.favs %></p>
<p><%= @user.diet %></p>
<%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
<br>
<%= link_to 'Make a review', new_review_path %>
<br>
<% if correct_user?(@user) %>
  <%= link_to 'Edit', edit_user_registration_path %>
<% end %>
<br>

<%@user.products.each do |product| %>
<%= product.title %>
<% end %>
<br>

<%@reviews.each do |review| %>
<%= review.title %>
<%= review.user.username %>
<% end %>


<!-- Refers to method in users_helper. Only makes link appear for current_user -->


<% if correct_user?(@user) %>
  <h3>Hampers you've requested</h3>
  <% @requests.each do |request| %>
    <%= request.product.title %> |
    <%= request.product.user.username %> |
    <%= request.message %>
    <br>
  <% end %>
<% end %>
