<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% if params[:product_id].present? %>
      <%= f.hidden_field :product_id, value: params[:product_id] %>
    <% end %>
  </div>
  <br>

  <div class="field">
    <i class="material-icons prefix">mode_edit</i>
    <%= f.label 'Message' %>
    <%= f.text_area :message, :class => "materialize-textarea"%>
  </div>

  <div class="actions">
    <%= f.submit 'Send Request', :class => "waves-effect waves-light btn" %>
  </div>
<% end %>
