<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @request.product %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @request.approved %>
</p>

<p>
  <strong>Message:</strong>
  <%= @request.message %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>

<%= link_to "Accept this request", accept_request_path(@request), method: :post %>
<%= link_to "Reject this request", reject_request_path(@request), method: :post %>
