<div class="container">
  <p class= "bigger-text">Hampers you've listed</p>
</div>

<div class= "flex-container">
  <% @products.each do |product| %>
    <% if product.purchased == false%>
      <div class="row">
        <div class="col s12 m7">
          <div class="card card-width">
            <div class="card-image">
              <img class= "resize-img" src="<%= product.images[0].url %>">
            </div>
            <div class="card-content">
              <p><strong><%= product.title %></%></strong></p>
              <p><%= product.contents %></p>
            </div>
            <div class="card-action">
              <p><%= link_to 'View', product %></p>
            </div>
          </div>
        </div>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>
<div class= "fixed-action-btn horizontal click-to-toggle create-button">
  <%= link_to '+ Create New Hamper', new_product_path, :class => 'waves-effect waves-light btn' %>
</div>
<br>

<div class= "container">
  <p class= "bigger-text">Requested items</p>
  <br>
  <% @requests.each do |request| %>
    <% if correct_request?(request) && request.approved != true %>
      <div class= "row">
          <div class= "col s4">
            <img src="<%= request.user.avatar.url %>" alt="" class="circle responsive-img">
          </div>
          <div class= "col s4">
            <p><%= link_to request.user.username, request.user %> <%= rating_for request.user, 'buying', { readonly: true}%></p>
            <p>Has requested</p>
            <p class= "bold"><strong>"<%= link_to request.product.title, request.product %>"</strong></p>
          </div>
          <div class= "col s4">
            <%= link_to 'Decide', request, :class => "waves-effect waves-light btn" %>
          </div>
            <br>
      </div>
      <hr>
    <% else %>
    <% end %>
  <% end %>
</div>
