<div class="container">
  <h4>Hampers you've listed</h4>
</div>

<% @products.each do |product| %>
  <% if product.purchased == false%>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img class= "resize-img" src="<%= product.images[0].url %>">
          </div>
          <div class="card-content">
            <p><strong><%= product.title %></%></strong></p>
            <p><%= product.contents %></p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
<% end %>

<div class= "fixed-action-btn horizontal click-to-toggle create-button">
  <%= link_to '+ Create New Hamper', new_product_path, :class => 'waves-effect waves-light btn' %>
</div>
<br>

<div class= "container">
  <h4>Requested items:</h4>
  <% @requests.each do |request| %>
    <% if correct_request?(request) && request.approved != true %>
    <!-- Create another helper for below request approved check -->

        "<%= request.product.title %>" belongs to
        <%= request.product.user.username %>|
        "<%= request.message %>" from
        <%= request.user.username %> |
        <%= link_to 'Show', request %>
        <br>

    <% else %>
    <% end %>
  <% end %>
</div>
