<h1>Yo. These are what you're selling</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Location</th>
      <th>Cost</th>
      <th>Collection</th>
      <th>Items</th>
      <th>Contents</th>
      <th>Perishables</th>
      <th>Non perishables</th>
      <th>Description</th>
      <th>blah</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= link_to product.user.username, product.user %></td>
        <td><%= product.user.location %></td>
        <td><%= number_to_currency(product.cost) %></td>
        <td><%= product.collection %></td>
        <td><%= product.items %></td>
        <td><%= product.contents %></td>
        <td><%= true_false(product.perishables) %></td>
        <td><%= true_false(product.non_perishables) %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Create New Hamper', new_product_path %>

<br>

<h4>Requested items:</h4>
<% @requests.each do |request| %>
  <% if correct_request?(request) %>
  <!-- Create another helper for below request approved check -->

      "<%= request.product.title %>" belongs to
      <%= request.product.user.username %>|
      "<%= request.message %>" from
      <%= request.user.username %> |
      <%= link_to 'Show', request %>
      <br>

  <% else %>
  <% end %>
<% end %>
