<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
    <%= f.select :collection, options_for_select([["Select One", ""], "Delivery", "Pickup", "Delivery or Pickup"]), class: 'browser-default' %>
    <%= f.label :collection %>
  </div>

  <div class="field">
    <%= f.label :items %>
    <%= f.number_field :items %>
  </div>

  <div class="field">
    <%= f.label :contents %>
    <%= f.text_area :contents %>
  </div>

  <div class="field">
    <%= f.check_box :perishables %>
    <%= f.label :perishables %>
  </div>

  <div class="field">
    <%= f.check_box :non_perishables %>
    <%= f.label :non_perishables %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
